html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: #e6ebea;
    max-width: 1000px;
    font-family: 'Lora', serif;
    line-height: 1.6;
    margin: auto;
    text-align: center;
}